{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "Chrome > 56"
                    ]
                }
            }
        ]
    ]
}