:root {
  --md-source: #00457c;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #000f21;
  --md-ref-palette-primary5: #001126;
  --md-ref-palette-primary6: #00142a;
  --md-ref-palette-primary10: #001c38;
  --md-ref-palette-primary12: #00203f;
  --md-ref-palette-primary17: #002b50;
  --md-ref-palette-primary20: #00315b;
  --md-ref-palette-primary22: #003663;
  --md-ref-palette-primary24: #003a6a;
  --md-ref-palette-primary25: #003d6e;
  --md-ref-palette-primary30: #004881;
  --md-ref-palette-primary35: #005495;
  --md-ref-palette-primary40: #1460a5;
  --md-ref-palette-primary50: #3979bf;
  --md-ref-palette-primary60: #5793db;
  --md-ref-palette-primary70: #73aef8;
  --md-ref-palette-primary80: #a2c9ff;
  --md-ref-palette-primary87: #c5dcff;
  --md-ref-palette-primary90: #d3e4ff;
  --md-ref-palette-primary92: #dce9ff;
  --md-ref-palette-primary94: #e6eeff;
  --md-ref-palette-primary95: #eaf1ff;
  --md-ref-palette-primary96: #eff4ff;
  --md-ref-palette-primary98: #f8f9ff;
  --md-ref-palette-primary99: #fdfcff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #000e22;
  --md-ref-palette-secondary5: #001127;
  --md-ref-palette-secondary6: #00142b;
  --md-ref-palette-secondary10: #001c39;
  --md-ref-palette-secondary12: #002040;
  --md-ref-palette-secondary17: #002b52;
  --md-ref-palette-secondary20: #00315d;
  --md-ref-palette-secondary22: #003564;
  --md-ref-palette-secondary24: #003a6c;
  --md-ref-palette-secondary25: #003c70;
  --md-ref-palette-secondary30: #004883;
  --md-ref-palette-secondary35: #005397;
  --md-ref-palette-secondary40: #1a60a5;
  --md-ref-palette-secondary50: #3c79c0;
  --md-ref-palette-secondary60: #5993dc;
  --md-ref-palette-secondary70: #75aef8;
  --md-ref-palette-secondary80: #a4c9ff;
  --md-ref-palette-secondary87: #c6dbff;
  --md-ref-palette-secondary90: #d4e3ff;
  --md-ref-palette-secondary92: #dde9ff;
  --md-ref-palette-secondary94: #e6eeff;
  --md-ref-palette-secondary95: #ebf1ff;
  --md-ref-palette-secondary96: #eff3ff;
  --md-ref-palette-secondary98: #f8f9ff;
  --md-ref-palette-secondary99: #fdfcff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #00101d;
  --md-ref-palette-tertiary5: #001221;
  --md-ref-palette-tertiary6: #001524;
  --md-ref-palette-tertiary10: #001e31;
  --md-ref-palette-tertiary12: #002237;
  --md-ref-palette-tertiary17: #002d47;
  --md-ref-palette-tertiary20: #003350;
  --md-ref-palette-tertiary22: #003857;
  --md-ref-palette-tertiary24: #003d5e;
  --md-ref-palette-tertiary25: #003f61;
  --md-ref-palette-tertiary30: #004b72;
  --md-ref-palette-tertiary35: #005784;
  --md-ref-palette-tertiary40: #006496;
  --md-ref-palette-tertiary50: #007ebc;
  --md-ref-palette-tertiary60: #3698d8;
  --md-ref-palette-tertiary70: #58b3f5;
  --md-ref-palette-tertiary80: #91cdff;
  --md-ref-palette-tertiary87: #bbdeff;
  --md-ref-palette-tertiary90: #cce5ff;
  --md-ref-palette-tertiary92: #d7eaff;
  --md-ref-palette-tertiary94: #e1efff;
  --md-ref-palette-tertiary95: #e7f2ff;
  --md-ref-palette-tertiary96: #ecf4ff;
  --md-ref-palette-tertiary98: #f7f9ff;
  --md-ref-palette-tertiary99: #fcfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0d0e11;
  --md-ref-palette-neutral5: #0f1114;
  --md-ref-palette-neutral6: #121316;
  --md-ref-palette-neutral10: #1a1c1e;
  --md-ref-palette-neutral12: #1e2022;
  --md-ref-palette-neutral17: #292a2d;
  --md-ref-palette-neutral20: #2f3033;
  --md-ref-palette-neutral22: #333538;
  --md-ref-palette-neutral24: #38393c;
  --md-ref-palette-neutral25: #3a3b3e;
  --md-ref-palette-neutral30: #46474a;
  --md-ref-palette-neutral35: #515256;
  --md-ref-palette-neutral40: #5d5e61;
  --md-ref-palette-neutral50: #76777a;
  --md-ref-palette-neutral60: #909094;
  --md-ref-palette-neutral70: #ababae;
  --md-ref-palette-neutral80: #c6c6ca;
  --md-ref-palette-neutral87: #dad9dd;
  --md-ref-palette-neutral90: #e3e2e6;
  --md-ref-palette-neutral92: #e8e8eb;
  --md-ref-palette-neutral94: #eeedf1;
  --md-ref-palette-neutral95: #f1f0f4;
  --md-ref-palette-neutral96: #f4f3f7;
  --md-ref-palette-neutral98: #faf9fd;
  --md-ref-palette-neutral99: #fdfcff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #0a0e14;
  --md-ref-palette-neutral-variant5: #0d1117;
  --md-ref-palette-neutral-variant6: #0f141a;
  --md-ref-palette-neutral-variant10: #181c22;
  --md-ref-palette-neutral-variant12: #1c2026;
  --md-ref-palette-neutral-variant17: #262a31;
  --md-ref-palette-neutral-variant20: #2c3137;
  --md-ref-palette-neutral-variant22: #31353c;
  --md-ref-palette-neutral-variant24: #353940;
  --md-ref-palette-neutral-variant25: #373c43;
  --md-ref-palette-neutral-variant30: #43474e;
  --md-ref-palette-neutral-variant35: #4f535a;
  --md-ref-palette-neutral-variant40: #5a5e66;
  --md-ref-palette-neutral-variant50: #73777f;
  --md-ref-palette-neutral-variant60: #8d9199;
  --md-ref-palette-neutral-variant70: #a8abb4;
  --md-ref-palette-neutral-variant80: #c3c6cf;
  --md-ref-palette-neutral-variant87: #d7dae3;
  --md-ref-palette-neutral-variant90: #dfe2eb;
  --md-ref-palette-neutral-variant92: #e5e8f1;
  --md-ref-palette-neutral-variant94: #ebeef7;
  --md-ref-palette-neutral-variant95: #eef1fa;
  --md-ref-palette-neutral-variant96: #f0f3fd;
  --md-ref-palette-neutral-variant98: #f8f9ff;
  --md-ref-palette-neutral-variant99: #fdfcff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #1460a5;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d3e4ff;
  --md-sys-color-on-primary-container-light: #001c38;
  --md-sys-color-primary-fixed-light: #d3e4ff;
  --md-sys-color-on-primary-fixed-light: #001c38;
  --md-sys-color-primary-fixed-dim-light: #a2c9ff;
  --md-sys-color-on-primary-fixed-variant-light: #004881;
  --md-sys-color-secondary-light: #1a60a5;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d4e3ff;
  --md-sys-color-on-secondary-container-light: #001c39;
  --md-sys-color-secondary-fixed-light: #d4e3ff;
  --md-sys-color-on-secondary-fixed-light: #001c39;
  --md-sys-color-secondary-fixed-dim-light: #a4c9ff;
  --md-sys-color-on-secondary-fixed-variant-light: #004883;
  --md-sys-color-tertiary-light: #006496;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #cce5ff;
  --md-sys-color-on-tertiary-container-light: #001e31;
  --md-sys-color-tertiary-fixed-light: #cce5ff;
  --md-sys-color-on-tertiary-fixed-light: #001e31;
  --md-sys-color-tertiary-fixed-dim-light: #91cdff;
  --md-sys-color-on-tertiary-fixed-variant-light: #004b72;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fdfcff;
  --md-sys-color-on-background-light: #1a1c1e;
  --md-sys-color-outline-light: #73777f;
  --md-sys-color-inverse-on-surface-light: #f1f0f4;
  --md-sys-color-inverse-surface-light: #2f3033;
  --md-sys-color-inverse-primary-light: #a2c9ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #1460a5;
  --md-sys-color-outline-variant-light: #c3c6cf;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #faf9fd;
  --md-sys-color-on-surface-light: #1a1c1e;
  --md-sys-color-surface-variant-light: #dfe2eb;
  --md-sys-color-on-surface-variant-light: #43474e;
  --md-sys-color-surface-container-highest-light: #e3e2e6;
  --md-sys-color-surface-container-high-light: #e8e8eb;
  --md-sys-color-surface-container-light: #eeedf1;
  --md-sys-color-surface-container-low-light: #f4f3f7;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dad9dd;
  --md-sys-color-surface-bright-light: #faf9fd;
  /* dark */
  --md-sys-color-primary-dark: #a2c9ff;
  --md-sys-color-on-primary-dark: #00315b;
  --md-sys-color-primary-container-dark: #004881;
  --md-sys-color-on-primary-container-dark: #d3e4ff;
  --md-sys-color-primary-fixed-dark: #d3e4ff;
  --md-sys-color-on-primary-fixed-dark: #001c38;
  --md-sys-color-primary-fixed-dim-dark: #a2c9ff;
  --md-sys-color-on-primary-fixed-variant-dark: #004881;
  --md-sys-color-secondary-dark: #a4c9ff;
  --md-sys-color-on-secondary-dark: #00315d;
  --md-sys-color-secondary-container-dark: #004883;
  --md-sys-color-on-secondary-container-dark: #d4e3ff;
  --md-sys-color-secondary-fixed-dark: #d4e3ff;
  --md-sys-color-on-secondary-fixed-dark: #001c39;
  --md-sys-color-secondary-fixed-dim-dark: #a4c9ff;
  --md-sys-color-on-secondary-fixed-variant-dark: #004883;
  --md-sys-color-tertiary-dark: #91cdff;
  --md-sys-color-on-tertiary-dark: #003350;
  --md-sys-color-tertiary-container-dark: #004b72;
  --md-sys-color-on-tertiary-container-dark: #cce5ff;
  --md-sys-color-tertiary-fixed-dark: #cce5ff;
  --md-sys-color-on-tertiary-fixed-dark: #001e31;
  --md-sys-color-tertiary-fixed-dim-dark: #91cdff;
  --md-sys-color-on-tertiary-fixed-variant-dark: #004b72;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1a1c1e;
  --md-sys-color-on-background-dark: #e3e2e6;
  --md-sys-color-outline-dark: #8d9199;
  --md-sys-color-inverse-on-surface-dark: #1a1c1e;
  --md-sys-color-inverse-surface-dark: #e3e2e6;
  --md-sys-color-inverse-primary-dark: #1460a5;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #a2c9ff;
  --md-sys-color-outline-variant-dark: #43474e;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #121316;
  --md-sys-color-on-surface-dark: #c6c6ca;
  --md-sys-color-surface-variant-dark: #43474e;
  --md-sys-color-on-surface-variant-dark: #c3c6cf;
  --md-sys-color-surface-container-highest-dark: #333538;
  --md-sys-color-surface-container-high-dark: #292a2d;
  --md-sys-color-surface-container-dark: #1e2022;
  --md-sys-color-surface-container-low-dark: #1a1c1e;
  --md-sys-color-surface-container-lowest-dark: #0d0e11;
  --md-sys-color-surface-dim-dark: #121316;
  --md-sys-color-surface-bright-dark: #38393c;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;

  /* Light */
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light);

  /* Custom */
  --md-outlined-button-container-height: 36px;
  --md-ref-typeface-brand: 'Metropolis';
}

/* Dark */
[data-theme='dark'] {
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark);
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark);
}
/*
  primary: #00457C
 secondary: #8691a4
 tertiary: #2E92D2
 neutral: #909094 */
