:root {
  --md-source: #7a1700;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #3d0700;
  --md-ref-palette-primary20: #621100;
  --md-ref-palette-primary25: #761600;
  --md-ref-palette-primary30: #872107;
  --md-ref-palette-primary35: #972c12;
  --md-ref-palette-primary40: #a8381d;
  --md-ref-palette-primary50: #c95033;
  --md-ref-palette-primary60: #eb6849;
  --md-ref-palette-primary70: #ff8b6e;
  --md-ref-palette-primary80: #ffb4a3;
  --md-ref-palette-primary90: #ffdad2;
  --md-ref-palette-primary95: #ffede9;
  --md-ref-palette-primary98: #fff8f6;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #2c1510;
  --md-ref-palette-secondary20: #442a23;
  --md-ref-palette-secondary25: #51342e;
  --md-ref-palette-secondary30: #5d3f38;
  --md-ref-palette-secondary35: #6a4b43;
  --md-ref-palette-secondary40: #77574f;
  --md-ref-palette-secondary50: #926f67;
  --md-ref-palette-secondary60: #ae887f;
  --md-ref-palette-secondary70: #caa299;
  --md-ref-palette-secondary80: #e7bdb3;
  --md-ref-palette-secondary90: #ffdad2;
  --md-ref-palette-secondary95: #ffede9;
  --md-ref-palette-secondary98: #fff8f6;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #241a00;
  --md-ref-palette-tertiary20: #3c2f04;
  --md-ref-palette-tertiary25: #483a0e;
  --md-ref-palette-tertiary30: #544519;
  --md-ref-palette-tertiary35: #605124;
  --md-ref-palette-tertiary40: #6d5d2e;
  --md-ref-palette-tertiary50: #877644;
  --md-ref-palette-tertiary60: #a28f5c;
  --md-ref-palette-tertiary70: #beaa74;
  --md-ref-palette-tertiary80: #dac58c;
  --md-ref-palette-tertiary90: #f7e1a6;
  --md-ref-palette-tertiary95: #ffefcc;
  --md-ref-palette-tertiary98: #fff8f0;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #201a19;
  --md-ref-palette-neutral20: #362f2d;
  --md-ref-palette-neutral25: #413a38;
  --md-ref-palette-neutral30: #4d4543;
  --md-ref-palette-neutral35: #59504f;
  --md-ref-palette-neutral40: #655c5a;
  --md-ref-palette-neutral50: #7f7573;
  --md-ref-palette-neutral60: #998e8c;
  --md-ref-palette-neutral70: #b4a9a6;
  --md-ref-palette-neutral80: #d0c4c1;
  --md-ref-palette-neutral90: #ede0dd;
  --md-ref-palette-neutral95: #fbeeeb;
  --md-ref-palette-neutral98: #fff8f6;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #251916;
  --md-ref-palette-neutral-variant20: #3b2d2a;
  --md-ref-palette-neutral-variant25: #473835;
  --md-ref-palette-neutral-variant30: #534340;
  --md-ref-palette-neutral-variant35: #5f4f4b;
  --md-ref-palette-neutral-variant40: #6c5b57;
  --md-ref-palette-neutral-variant50: #85736f;
  --md-ref-palette-neutral-variant60: #a08c88;
  --md-ref-palette-neutral-variant70: #bca7a2;
  --md-ref-palette-neutral-variant80: #d8c2bd;
  --md-ref-palette-neutral-variant90: #f5ddd8;
  --md-ref-palette-neutral-variant95: #ffede9;
  --md-ref-palette-neutral-variant98: #fff8f6;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #a8381d;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffdad2;
  --md-sys-color-on-primary-container-light: #3d0700;
  --md-sys-color-secondary-light: #77574f;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffdad2;
  --md-sys-color-on-secondary-container-light: #2c1510;
  --md-sys-color-tertiary-light: #6d5d2e;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #f7e1a6;
  --md-sys-color-on-tertiary-container-light: #241a00;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #201a19;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #201a19;
  --md-sys-color-surface-variant-light: #f5ddd8;
  --md-sys-color-on-surface-variant-light: #534340;
  --md-sys-color-outline-light: #85736f;
  --md-sys-color-inverse-on-surface-light: #fbeeeb;
  --md-sys-color-inverse-surface-light: #362f2d;
  --md-sys-color-inverse-primary-light: #ffb4a3;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #a8381d;
  --md-sys-color-outline-variant-light: #d8c2bd;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #ffb4a3;
  --md-sys-color-on-primary-dark: #621100;
  --md-sys-color-primary-container-dark: #872107;
  --md-sys-color-on-primary-container-dark: #ffdad2;
  --md-sys-color-secondary-dark: #e7bdb3;
  --md-sys-color-on-secondary-dark: #442a23;
  --md-sys-color-secondary-container-dark: #5d3f38;
  --md-sys-color-on-secondary-container-dark: #ffdad2;
  --md-sys-color-tertiary-dark: #dac58c;
  --md-sys-color-on-tertiary-dark: #3c2f04;
  --md-sys-color-tertiary-container-dark: #544519;
  --md-sys-color-on-tertiary-container-dark: #f7e1a6;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #201a19;
  --md-sys-color-on-background-dark: #ede0dd;
  --md-sys-color-surface-dark: #201a19;
  --md-sys-color-on-surface-dark: #ede0dd;
  --md-sys-color-surface-variant-dark: #534340;
  --md-sys-color-on-surface-variant-dark: #d8c2bd;
  --md-sys-color-outline-dark: #a08c88;
  --md-sys-color-inverse-on-surface-dark: #201a19;
  --md-sys-color-inverse-surface-dark: #ede0dd;
  --md-sys-color-inverse-primary-dark: #a8381d;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #ffb4a3;
  --md-sys-color-outline-variant-dark: #534340;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;

  /* Light */
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);

  /* Custom */
  /* Fixes md-menu bg color */
  --md-sys-color-surface-container: var(--md-sys-color-surface);
  /* Fixes toggle color */
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-variant);
  /* dialog fix */
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-variant);

  --md-outlined-button-container-height: 36px;
  --md-ref-typeface-brand: 'Metropolis';
}

/* Dark */
[data-theme='dark'] {
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);

  background-color: var(--md-sys-color-background-dark);
}

/* https://m3.material.io/theme-builder#/custom */

/* //primary: #1a73e8
//secondary: #0288d1
//tertiary: #15467B
//neutral: #dadce0 */
