# This is a basic workflow to help you get started with Actions

name: Publish

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
    paths:
      - '.github/workflows/publish.yml'
      - 'packages/web/**'
permissions:
  id-token: write # Required for OIDC
  contents: read

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          # pulls all commits (needed for lerna / semantic release to correctly version)
          fetch-depth: '0'

        # pulls all tags (needed for lerna / semantic release to correctly version)
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - uses: actions/setup-node@v1
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
          scope: leavittsoftware

      - name: Update npm
        run: npm install -g npm@latest

      - name: Install
        run: npm install --no-save

      - name: Configure CI Git User
        run: |
          git config --global user.email automation@leavitt.com
          git config --global user.name 'GitHub Actions'

      - name: Lint
        run: npm run lint

      - name: Run Lerna Publish
        run: npm run lerna:publish
